<!-- reffernce link  https://ciphertrick.com/file-upload-with-angularjs-and-nodejs/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS File Upload Demo</title>
    <style>
    img{
        width:100px;
        height:100px;
    }
    </style>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- Along with angular.js we will need to include ng-file-upload related files into our project. -->
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    
    
    <script src="app.js"></script>
    <script src="factory.js"></script>
    <script src="controller.js"></script>
</head>
     


<body ng-app="myapp">

    <div ng-controller="myctrl">
            <h2>{{msg}}</h2>
            <form   name="form">
                <label for="">Choose File to Upload</label>
                
                          
                   <input type="file" ngf-select ng-model="file" 
                   name="file" accept="image/*" ngf-max-size="2MB">
                    <button  ng-click="submit(file)">submit</button>
                  </form>
                  Files are {{file}}
                  <img ngf-thumbnail="file">

             
                <!--  There are various api too in app.js like for deleting or showing images from database you can you use them 
                as the way you want  -->

    </div>
    
    
    

</body>
</html>